{
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
      "@typescript-eslint/indent": ["error", 2],
      "@typescript-eslint/no-unused-vars": "error",
      "@typescript-eslint/no-explicit-any": 0,
      "@typescript-eslint/explicit-module-boundary-types": 0,
      "prettier/prettier": [
        "warn",
        {
          "singleQuote": true
        }]
    }
  }